.back {
    /* -fx-background-color:linear-gradient(to bottom right, #019EDB,#4364f7,#01297F);
     */
    /*-fx-background-color:linear-gradient(to bottom right, #01297F, #4364f7, #019EDB);
    /*-fx-background-color:linear-gra]dient(to right, #0052d4, #4364f7, #6fb1fc);
    */
     -fx-background-color: linear-gradient(to bottom , #0052d4, #4364f7, #6fb1fc);
    /*#6380DA*/
    /* #9cecfb → #65c7f7 → #0052d4*/
}
 .slide{
    /*-fx-background-color: linear-gradient(to bottom , #2980B9,#6DD5FA,#FFFFFF);*/
   /*-fx-background-color:linear-gradient(from 25% 25%  to 100% 100% ,#2980B9,#6DD5FA,#FFFFFF);*/
   -fx-background-color:linear-gradient(from 25% 25%  to 100% 100% ,#1c92d2,#f2fcfe);



}
.slide1{
    /*-fx-background-color: linear-gradient(to bottom , #2980B9,#6DD5FA,#FFFFFF);*/
   /*-fx-background-color:linear-gradient(from 25% 25%  to 100% 100% ,#2980B9,#6DD5FA,#FFFFFF);*/
   -fx-background-color:linear-gradient(from 25% 25%  to 100% 100% ,#f2fcfe,#1c92d2);



}
.top{}
.bar{
     -fx-background-color: linear-gradient(to right , #99ccff , #6fb1fc);
}
 .button {
     -fx-background-color :transparent;
}
 .button:hover {
     -fx-background-color: #4592E8;
     -fx-border-color: WHITE;
     ;
     -fx-border-width: 0px 0px 0px 3px;
}
 .button:pressed {
     -fx-background-color : #4364f7 ;
     -fx-border-color: WHITE;
     ;
}
 .nav:hover {
     -fx-background-color: #add8e6;

}
.exit  {


}
.exit:hover {
     -fx-background-color: #28A8EA;

}
 .nav:pressed {
     -fx-background-color : #4364f7 ;
}
 .nav1:hover {
     -fx-background-color: #ffffff;
          -fx-border-color: BLACK;

}
 .nav1:pressed {
     -fx-background-color : #4364f7 ;
}
 .pane{
     -fx-background-radius:50px;
     -fx-border-radius:50px;
     -fx-background-color: linear-gradient(to bottom , #0052d4, #4364f7, #6fb1fc);
}
 -fx-background-color: linear-gradient(to bottom , #0052d4, #4364f7, #6fb1fc);
 .pan{
     -fx-background-radius:10px;
     -fx-border-radius:10px;
     -fx-background-color: #ffffff;
}
 .pan:hover{
     -fx-background-radius:10px;
     -fx-border-radius:10px;
     -fx-background-color: #4364f7;
}
 .txt{
     -fx-text-weight: BOLD;
}
 .txt :hover{
     -fx-border-color: WHITE;
     -fx-background-color:#D4F1F4
                          ;
}
 .txt:pressed{
     -fx-border-color: WHITE;
}
 .txt1{
     -fx-text-weight: BOLD;
}
 .txt1 :hover{
     -fx-border-color: WHITE;
}
 .txt1:pressed{
     -fx-border-color: WHITE;
}
