.textfield-design{
         -fx-background-radius:10px;
        -fx-border-color:#93e1ff;
        -fx-border-radius:10px;
        -fx-text-inner-color:#000000;
        -fx-prompt-text-fill: #04506e;
                  -fx-background-color:#dceef5;

        }
  .button-design{
          -fx-background-color:transparent;
          -fx-background-radius:10px;
          -fx-border-color:#93e1ff;
          -fx-border-radius:10px;
           }
  .button-design:hover{
       -fx-background-color: #4592E8;
       -fx-background-radius:10px;
                 -fx-border-color:#93e1ff;
                 -fx-border-radius:10px;

  }
  .button-design:pressed{
-fx-background-color : #4364f7 ;         -fx-background-radius:10px;
                   -fx-border-color:#93e1ff;
                   -fx-border-radius:10px;

    }
 .combo-box .list-cell
 {
     -fx-background: white;
     -fx-background-color: transparent;
     -fx-text-fill: -fx-text-base-color;
  }

 .combo-box-popup .list-view
 {
     -fx-background-color: white, white;
   }

 .combo-box-popup .list-view .list-cell
 {


     /* No alternate highlighting */
     -fx-background-color: white;
 }

 .combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
 {
     -fx-background: -fx-accent;
     -fx-background-color: -fx-selection-bar;
     -fx-text-fill: -fx-selection-bar-text;
 }

 .combo-box-popup .list-view .list-cell:filled:hover
 {
     -fx-background-color: white;
     -fx-text-fill: -fx-text-inner-color;
 }

 .combo-box-base
 {

     -fx-background-color: #93E1FFFF;
     -fx-background-radius: 5, 5, 4, 3;
     -fx-background-insets: 0 0 -1 0, 0, 1, 2;
     -fx-padding: 0;
 }

 .combo-box-base:hover
 {
     -fx-color: -fx-hover-base;
 }

 .combo-box-base:showing
 {
     -fx-color: -fx-pressed-base;
 }

.combo-box-popup > .list-view {
    -fx-pref-width: 100;
}

 .combo-box-base:disabled {
     -fx-opacity: .4;
 }
 .table-view .corner {
     -fx-background-color: transparent;
 }
.scroll-pane .viewport {
    -fx-background-color: transparent;
}